*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerr{
     width: 100%;
     max-width: 1140px;
     padding-left: 20px;
     padding-right: 20px;
     margin-left: auto;
     margin-right: auto;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}

/* header */
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(120deg,
        rgb(191, 48, 191) 50%,rgb(65, 65, 198)
    );

    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.header-icon {
    margin-right: 70px;
    font-size:40px;
    font-weight: 700;
    font-family: cursive;
    color: white;

}
.header-nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header-nav-link {
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.btn-contact{
    font-size: 16px;
    font-weight: 600;
    border: 2px solid rgb(177, 160, 245);
    border-radius: 12px;
    padding: 10px 20px;
    background-color:rgb(65, 65, 198)
    ;
    color: white;
}
/* hero */
.hero {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/malibu2xl.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.container-hero {
    top: 200px;
    display: flex;
    justify-content: space-between;
  
}
.hero-title {
    width: 100%;
    max-width: 500px;
    font-size: 60px;
    font-weight:900;
    color:#fff;
    text-shadow: 2px 2px 2px rgb(99, 11, 92);
}
.hero-p {
    width: 100%;
    max-width: 400px;
    

}
.hero-ul {
    list-style: none;
}
.hero-ul-li {
    display: flex;
    align-items: center;
    column-gap: 30px;
    
}
.hero-ul-li:not(:last-child){
    margin-bottom: 20px;
}
.hero-li-img {
    width: 40px;
}
.li-content {
    font-size: 25px;
    font-weight: 700;
    color: #e2ff3f;
    text-shadow: 2px 2px 2px rgb(42, 71, 92);

}