*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerr{
     width: 100%;
     max-width: 1140px;
     padding-left: 20px;
     padding-right: 20px;
     margin-left: auto;
     margin-right: auto;
}
body{
    font-family: sans-serif;
}

